<br><br><br>
<h3>List of Companies</h3>
<table>
    <thead>
        <th>Company Code</th>
        <th>Company Name</th>
        <th>Company CEO</th>
        <th>Company Turnover</th>
        <th>Company Website</th>
        <th>Stock Exchange</th>
        <th>Stock Price</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let c of companies">
            <td>{{c.companyCode}}</td>
            <td>{{c.companyName}}</td>
            <td>{{c.companyCEO}}</td>
            <td>{{c.companyTurnover}}</td>
            <td>{{c.companyWebsite}}</td>
            <td>{{c.stockExchange}}</td>
            <td>{{c.stockPrice}}</td>
            <td>
                <button mat-raised-button color="warn" (click)="delete(c.companyCode)"><mat-icon>delete</mat-icon> Delete</button>
                <button mat-raised-button color="primary" (click)="updateCompany(c.companyCode,c)">Update</button>
                <button mat-raised-button color="accent" (click)="updatePost(c.companyCode,c)">UpdatePost</button>
            </td>
        </tr>
    </tbody>
</table>
<br><br><hr><br><br>
<h3>Search Employee</h3>

<mat-form-field class="example-form-field" appearance="fill">
<input matInput type="text" placeholder="Type Company Code" id="searchKey" [(ngModel)]="companyCode">
</mat-form-field>
<button mat-raised-button color="primary" (click)="searchCompany(companyCode)">Search <mat-icon>search</mat-icon></button>

    
    
  