<mat-toolbar color="primary" class="navbar">
    <div><h1>EStockMgmt <mat-icon aria-hidden="false" aria-label="Example home icon">business</mat-icon></h1></div>
    <div>
        <span><button mat-raised-button color="white"><a routerLink="companies" routerLinkActive="active">Companies</a></button></span>
        <span><button mat-raised-button color="white"><a routerLink="register-company" routerLinkActive="active">Register Company</a></button></span>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>